@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <link rel="stylesheet" href="StyleSheet1.css">
</head>
<body>
    @RenderPage("zaglavlje.cshtml")
    <h1>Kućni budžet v0.1</h1>
    <div>
        <div id="login">
            Postojeci korisnik - <a href="login.aspx">Login</a>
        </div>
        <div id="register">
            Novi korisnik - <a href="register.html">Register</a>
        </div>
    </div>
</body>
</html>
